*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a{
    color: black;
    font-weight: 550;
    text-decoration: none;
    
}

header{
    height: 60px;
    background-color: rgb(197, 26, 26);
    text-align: center;
}

.NavBar{
    padding-top: 18px;
    background-color: rgb(197, 26, 26);
}

#navbar-title{
    color: white;
    font-size: 25px;
}

.Items{
    padding-top: 15px;
    padding-bottom: 15px;
}

#item-table{
    width: 100%;
    text-align: center;
}

.Item-img{
    height: 64px;
    border-radius: 50%;   
}

.Item-tag{
    font-size: 14px;
}

.Item-tag:hover{
    background-color: rgb(197, 26, 26);
}

.Shopping-container{
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 600;
}

#shopping-time-img{
    margin-top: 30px;
    width: 90vw;
    height: 60vh;
}

.Sales-table{
    width: 90vw;
    margin: auto;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 12px;
}

.Sales-table-head{
    background-color: rgb(197, 26, 26);
}

.homepage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.homepage img{
    height: 400px;
    width: 600px;
    border-radius: 3%;
}

.homepage a img :hover{
        transform: scale(1.05); /* Scale up the image slightly */  
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */  
}

.Information{
    text-align: center;
    font-size: larger;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-bottom: 0px;
    height: 60px;
    color: white;
}

